{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <h5 class="my-3 border-bottom pb-2">게시글등록</h5>
    <form method="post" class="post-form my-3">
      {%csrf_token%}
      {{form.as_p}}
      <button type="submit" class="btn btn-primary">저장하기</button>
      <!-- <div class="form-group"> <label for="subject">한줄작성 plz</label> <input type="text" name="subject" class="form-control" id="subject" value="{{form.subject.value|default_if_none:''}}"> </div> <div class="form-group"> <label for="content">뭐하실꺼에요?</label> <textarea name="content" class="form-control" id="content" row-="10" value="{{form.content.value|default_if_none:''}}"></textarea> </div> -->
    </form>
  </div>

  {%endblock%}
