{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container my-3">
    <h2 class="border-bottom py-2">
      <h1>{{board.subject}}</h1>
    </h2>
    <div class="card my-3">
      <div class="card-body">
        <div class="cartd-text" style="white-space:pre-line;">{{board.content}}</div>
      </div>
    </div>
    <h1>{{board.reply_set.count}}개의 댓글이 있습니다.</h1>
    {%for reply in board.reply_set.all %}
      <div class="card my-3">
        <div class="card-text" style="white-space: pre-line;">
          {{reply.content}}
        </div>
        <div class="d-flex justify-content-end">
          <div class="badge">
            {{reply.create_date}}
          </div>
        </div>
      </div>
      {%endfor%}
      <form action="{%url 'main:reply_create' board.id%}" method="post">
        {%csrf_token%}
        {%if form.errors %}
          <div class="alert" role="alert">
            {%for field in form%}
              {%if field.errors%}
                {{field.label}}
                <strong>{{field.errors}}</strong>
                {%endif%}
                {%endfor%}
              </div>
              {%endif%}
              <div class="form-group">
                <textarea name="content" id="content" cols="30" rows="10"></textarea>
              </div>
              <input type="submit" value="댓글등록" class="btn btn-primary">
            </form>
          </div>

          <div></div>
          {%endblock%}
