{% extends 'base.html' %}
{% load static %}
{% load main_filter %}

{% block content %}
  <style>
    .board_box {
      position: absolute;
      left: 50%;
      top: 55%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 98%;
      height: 87%;
      box-shadow: 1px 1px 10px 1px black;
    }
  </style>

  <div class="container my-3">
    <table class="table ">
      <thead>
        <tr class="text-center thead-dark">
          <th>번호</th>
          <th>클럽명</th>
          <th style="width:30%">제목</th>
          <th>작성자</th>
          <th>참석자 수</th>
          <th>작성일</th>
        </tr>
      </thead>

      <tbody>
        {% if board_list %}
          {% for board in board_list %}
            <tr class="text-center">
              <td>{{ board_list.paginator.count|sub:board_list.start_index|sub:forloop.counter0|add:1 }}</td>
              <td>{{ board.club }}</td>
              <td class="text-left">
                <a href="{%url 'main:detail' board.id%}">{{board.subject}}</a>
              </td>
              <td>{{board.author.name}}</td>
              <td></td>
              <td>{{board.create_date}}</td>
            </tr>

          {% endfor %}
        {% else %}
          게시글이 없습니다.
        {% endif %}
      </tbody>
    </table>

    <!-- 페이징 처리 시작 -->
    <ul class="pagination justify-content-center">
      <!-- 이전 페이지 -->
      {% if board_list.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ board_list.previous_page_number }}">
            <i class="fa-solid fa-backward"></i>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
            <i class="fa-solid fa-backward"></i>
          </a>
        </li>
      {% endif %}

      <!-- 페이지 리스트 -->
      {% for page_number in board_list.paginator.page_range %}
        <!-- 페이지 표시 제한 기능 구현 X 저장하면 자꾸 바뀌어 settings.json 만들어야되나 -->
        {% if page_number == board_list.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">
              {{ page_number }}
            </a>
          </li>
        {% else %}
          <li class="" page-item="page-item">
            <a class="page-link" href="?page={{ page_number }}">
              {{ page_number }}
            </a>
          </li>
        {% endif %}
      {% endfor %}

      <!-- 다음 페이지 -->
      {% if board_list.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ board_list.next_page_number }}">
            <i class="fa-solid fa-forward"></i>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
            <i class="fa-solid fa-forward"></i>
          </a>
        </li>
      {% endif %}
    </ul>

    <a href="{%url 'main:board_create' %}" class="btn btn-warning">
      <i class="fa-solid fa-pen"></i>
      게시글 등록
    </a>
  </div>

{% endblock %}
