{% extends 'base.html' %}
{% load static %}

{% block content %}
  <style>
    .board_box {
      position: absolute;
      left: 50%;
      top: 55%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 98%;
      height: 87%;
      box-shadow: 1px 1px 10px 1px black;
    }

    .table_row1{
      position: relative;
      width: 10%;
      border: 1px double rgb(41, 41, 41);
    }

    .table_row2{
      position: relative;
      width: 70%;
      border: 1px double rgb(41, 41, 41);
    }

    .table_row3{
      position: relative;
      width: 20%;
      border: 1px double rgb(41, 41, 41);
    }
  </style>

  <div class="board_box">
    <table style="width: 100%; height:10%; background-color: rgb(254, 198, 93);">
          <th class="table_row1">번호</th>
          <th class="table_row2">제목</th>
          <th class="table_row3">작성일</th>
      {% if board_list %}
      {% for board in board_list %}
        <table style="width: 100%;">
          <tr>
            <td class="table_row1">{{ forloop.counter }}</td>
            <td class="table_row2">
              <a href="{% url 'main:detail' board.id %}">{{ board.subject }}</a>
            </td>
            <td class="table_row3">{{ board.create_date }}</td>
          </tr>
        </table>
      {% endfor %}
      {% else %}
        게시글이 없습니다.
      {% endif %}
    </table>
  </div>

{%endblock%}