{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container my-3">
    <h2 class="border-bottom py-2">
      <h1>{{board.subject}}</h1>
    </h2>

    <div class="col-1 form-inline">
      <div class="bg-light  text-center p-3 border font-weight-bolder mb-1">{{board.voter.count}}</div>
      <a href="#" data-uri="{%url 'main:vote_board' board.id %}" class="recommend btn btn-light">참석</a>
    </div>

    {%if vote_board %}
      {%for voter in vote_board %}
        <h2>참석자:{{board.voter}}</h2>
      {% endfor %}
    {% else %}
      참석자가 없습니다.
    {% endif %}

    <div class="card my-3">
      <div class="card-body">
        <div class="cartd-text" style="white-space:pre-line;">{{board.content}}</div>
        <div class="d-flex justify-content-end">

          {% if board.modify_date %}
            <div class="badge badge-light p-2 text-left mx-3">
              <div class="mb-2">수정 일자</div>
              <div>{{ board.modify_date }}</div>
            </div>
          {% endif %}

          <div class="badge badge-light p-2 text-left">
            <div class="mb-2">작성자:
              {{board.author.name}}</div>
            <div>{{ board.create_date }}</div>
          </div>
        </div>
      </div>
      <!-- 게시글 수정/삭제 버튼 -->
      {% if request.user == board.author %}
        <div class="my-3 ml-3">
          <a href="{% url 'main:board_modify' board.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
          <a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'main:board_delete' board.id %}">삭제</a>
        </div>
      {% endif %}
    </div>

    <h1>{{board.reply_set.count}}개의 댓글이 있습니다.</h1>

    {% for reply in board.reply_set.all %}
      <div class="card my-3">
        <div class="card-text" style="white-space: pre-line;">
          {{reply.content}}
        </div>
        <div class="d-flex justify-content-end">

          {% if board.modify_date %}
            <div class="badge badge-light p-2 text-left mx-3">
              <div class="mb-2">수정 일자</div>
              <div>{{ reply.modify_date }}</div>
            </div>
          {% endif %}

          <div class="badge badge-light p-2 text-left">
            <div class="mb-2">작성자:{{ reply.author.name }}</div>
            <div>{{ reply.create_date }}</div>
          </div>
        </div>
        <!-- 댓글 수정/삭제 버튼 -->
        {% if request.user == reply.author %}
          <div class="my-3 ml-3">
            <a href="{% url 'main:reply_modify' reply.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
            <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'main:reply_delete' reply.id %}">
              삭제</a>
          </div>
        {% endif %}
      </div>
    {% endfor %}

    <form action="{%url 'main:reply_create' board.id%}" method="post">
      {% csrf_token %}
      {% if form.errors %}
        <div class="alert" role="alert">
          {% for field in form %}
            {% if field.errors %}
              {{field.label}}
              <strong>{{field.errors}}</strong>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="form-group">
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
      </div>
      <input type="submit" value="댓글등록" class="btn btn-primary">
    </form>
  </div>
{% endblock %}

{% block script %}
  <script type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array
      .from(delete_elements)
      .forEach(function (element) {
        element.addEventListener('click', function () {
          if (confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
          };
        });
      });

    $(".recommend").on('click', function () {
      $(".recommend").on('click', function () {
        if (confirm("참석하시겠습니까?")) {
          location.href = $(this).data('uri');
        }
      });
    });
  </script>
{% endblock %}
